header {
  border-bottom: solid;
  border-spacing: 0;
  border-color: #cccccc;
  background-color: #ffffff;
  height: 90px;
  top: 0;
  width: 100%;
}

#name {
  width: 190px;
  height: 13px;
  background-color: #4aaaa5;
  padding: 30px;
  padding-right: 30px;
  margin-left: 15%;
  color: #ffffff;
  display: inline-block;
  top: 20px;
  font-size: 1.5em;
  text-align: center;
  font-family: 'Georgia', Times, serif;
}

.topnav{
  position: relative;
  top: -70px;
  right: -1120px;
  word-spacing: 20px;
  color: #4aaaa5;
}

a:link {
  color: #777777;
}

a:visited {
  color: #3b3b3b;
}

a:hover, a:active {
  color: #4aaaa5;
}

section {
  background-color: #ffffff;
  margin-left: 15%;
  margin-right:15%;
  padding: 15px;
  float:left;
  margin-top: 20px;
}

#myPic {
  float: left;
  margin-right: 30px;
}

img {
  float: left;
  padding: 20px;
}

body {
  background-color: #dddddd;
  background-image: url("bananas.png");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 18px;

  color: #333;
  }

}

p {
  text-indent: 20px;
}

h3{
  color: #4aaaa5;
  font-family: 'Georgia', Times, serif;
  margin-top: 30px;
  font-size: 2em;
}

section {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  border: 1px solid #dddddd;
  color: #777777;
  width: 960px;
  padding: 30px;
  margin-bottom: 50px
}

hr{
  color: #dddddd;
}

form {
  margin: 0;

}

#messageBox {
  height: 250px;
  width: 940px;
}

input {
  width: 940px;
  margin-bottom: 20px;
}

#submitButton {
  width: 150px;
  height: 50px;
  margin-top: 20px;
  background-color: #4aaaa5;
  color: #ffffff;
  font-size: 1.2em;
}


footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px;
  background-color: #666666;
  text-align: center;
  border-top: 5px solid #4aaaa5;
  color: #ffffff;
}
